.exercises-container {
  gap: var(--space-10);
  position: relative;
}

.exercise-filter {
  /* display: none; */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var(--bg-card);
  padding: var(--space-6);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  transition: var(--transition-all-base);
}

.hide {
  transform: translateX(-150%);
}

.show {
  transform: translateX(0);
}

.toggle-aside-btn {
  cursor: pointer;
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  gap: var(--space-2);
  width: 7rem;
  background-color: var(--bg-button);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-sm);
  margin-bottom: var(--space-2);
  svg {
    height: var(--space-4);
    width: var(--space-4);
  }
  p {
    white-space: nowrap;
  }
  &:hover {
    background-color: var(--bg-button-dark);
  }
}

.hide-aside-btn {
  cursor: pointer;
}
.show-aside-btn {
  cursor: pointer;
}

.no-exercise-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form {
  position: relative;
  input {
    border: 1px solid var(--border) !important;
    outline: none !important;
  }
  button {
    height: var(--space-10);
    background-color: var(--bg-card);
    border: none;
    border-radius: 0 var(--radius) var(--radius) 0;
    border: 1px solid var(--border);
    transition: var(--transition-all-base);
    color: var(--text);
    position: absolute;
    right: 0;
    top: var(--space-1);
  }
}

.filter-group {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: var(--space-4);
  margin-top: var(--space-3);
  border-bottom: 1px solid var(--border);
  padding-bottom: var(--space-4);
  label {
    font-size: var(--text-base);
    font-weight: 500;
  }

  #muscle-group,
  #equipment,
  #level,
  #exercise-status {
    padding: var(--space-1) var(--space-2);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    background-color: var(--bg-card);
    color: var(--text);
    outline: none;
    transition: var(--transition-all-base);
    width: calc(var(--space-12) + var(--space-6));
    cursor: pointer;
    &:focus {
      outline: none;
      border-color: var(--info);
      box-shadow: 0 0 0 0.5px var(--info-light);
    }
  }
  option {
    cursor: pointer;
  }
}

.filter-actions {
  display: flex;
  justify-content: space-between;
  gap: var(--space-3);
  margin-top: var(--space-3);
  .filter-action-btn {
    padding: var(--space-2) var(--space-4);
    border: none;
    border-radius: var(--radius-sm);

    color: var(--text);
    cursor: pointer;
    white-space: nowrap;
    transition: var(--transition-all-base);
    box-shadow: var(--shadow);
    &:first-child {
      background-color: var(--error) !important;
      &:hover {
        background-color: var(--error-dark) !important;
      }
    }
    &:last-child {
      background-color: var(--success) !important;
      &:hover {
        background-color: var(--success-dark) !important;
      }
    }
  }
}

/* Exercise Items */
.exercise-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-8);
}

.exercise-item {
  display: grid;
  border-radius: var(--radius);
  background-color: var(--bg-card);
  height: 20rem;
  position: relative;
  box-shadow: var(--shadow);
  max-width: 30rem;
}

.active-exercise {
  box-shadow: var(--shadow-success);
  border-bottom: 4px solid var(--success);
}

.inactive-exercise {
  border-bottom: 4px solid var(--error);
  box-shadow: var(--shadow-error);
}

.exercise-equipment,
.exercise-muscle {
  display: flex;
  gap: var(--space-4);
  border-bottom: 2px solid var(--border);
}

.exercise-image {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    object-fit: fill;
    height: 100%;
    transition: var(--transition-all-base);
    &:hover {
      scale: 1.1;
    }
  }
  video {
    width: 100%;
  }
}
.exercise-title {
  position: absolute;
  background-color: var(--bg-button);
  top: 0;
  left: 0;
  padding: var(--space-1);
  border-radius: 50% 0 50% 0;
  font-size: var(--text-sm);
  color: var(--primary);
  z-index: 10;
  font-size: var(--text-xs);
}
.exercise-preview-type {
  font-size: var(--text-sm);
  .image-preview,
  .video-preview {
    cursor: pointer;
    transition: var(--transition-all-base);
    padding: var(--space-1);
    &:hover {
      border-bottom: 2px solid var(--border);
    }
  }

  .active-preview-type {
    border-bottom: 2px solid var(--border);
  }
}

.exercise-description {
  padding: var(--space-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-4);
}

.exercise-summary {
  display: grid;
  font-size: var(--text-sm);
  gap: var(--space-4);
}
.exercise-acions {
  display: flex;
  justify-content: space-between;
  button {
    color: var(--text);
    background-color: var(--bg-card);
    padding: 0;
    margin: 0;

    &:hover {
      background-color: var(--bg-card);
    }
  }
}

.delete-exercise {
  color: var(--error) !important;
  &:hover {
    color: var(--error-dark) !important;
  }
}

.update-exercise {
  color: var(--info) !important;
  &:hover {
    color: var(--info-dark) !important;
  }
}

.add-exercise-btn {
  background-color: var(--primary);
}

.exercise-container {
  background-color: var(--bg);
  overflow-y: auto;
  background-color: red;
}
