.exercises-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: var(--space-10);
}

.exercise-filter {
  position: sticky;
  left: 0;
  top: 0;
  background-color: var(--background);
  padding: var(--space-6);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
}

#search-form {
  position: relative;
  input {
    border: 1px solid var(--border) !important;
    outline: none !important;
  }
  button {
    height: var(--space-10);
    background-color: var(--bg-card);
    border: none;
    border-radius: 0 var(--radius) var(--radius) 0;
    border: 1px solid var(--border);
    transition: var(--transition-all-base);
    color: var(--text);
    position: absolute;
    right: 0;
    top: var(--space-1);
  }
}

.filter-group {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: var(--space-4);
  margin-top: var(--space-3);
  border-bottom: 1px solid var(--border);
  padding-bottom: var(--space-4);
  label {
    font-size: var(--text-md);
    font-weight: 500;
  }

  select {
    padding: var(--space-1) var(--space-2);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    background-color: var(--bg-card);
    color: var(--text);
    outline: none;
    transition: var(--transition-all-base);
    width: calc(var(--space-12) + var(--space-6));
    cursor: pointer;
    &:focus {
      outline: none;
      border-color: var(--info);
      box-shadow: 0 0 0 0.5px var(--info-light);
    }
  }
  option {
    cursor: pointer;
  }
}

.filter-actions {
  display: flex;
  justify-content: space-between;
  gap: var(--space-3);
  margin-top: var(--space-3);
  .filter-action-btn {
    padding: var(--space-2) var(--space-4);
    border: none;
    border-radius: var(--radius-sm);
    background-color: var(--bg-button) !important;
    color: var(--text);
    cursor: pointer;
    white-space: nowrap;
    transition: var(--transition-all-base);
    box-shadow: var(--shadow);
    &:hover {
      background-color: var(--bg-button-dark) !important;
    }
  }
}
