.exercises-container {
  position: relative;
}
.exercises {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  cursor: pointer;
  gap: var(--space-4);
}

.exercise-container {
  background-color: var(--bg-surface);
  border-radius: var(--space-2);
  padding: var(--space-4);
  transition: var(--transition-all-base);
  &:hover {
    box-shadow: var(--shadow);
  }
  .exercise {
    background-color: var(--bg-card);
    padding: var(--space-2);
    display: grid;
    gap: var(--space-2);
    border-radius: var(--radius-sm);
    p {
      font-size: var(--text-sm);
    }
  }
}

.exercise-dialog-container {
  background-color: var(--transparent-bg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 75vh;
  padding: var(--space-4);
}

.exercise-dialog {
  display: grid;
  place-items: center;
  place-items: center;
  max-width: var(--container-sm);
  margin: 0 auto;
}

.exercise-type {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  h3 {
    font-size: var(--text-sm);
  }
}

.exercise-type-input {
  margin-top: var(--space-2);
  display: flex;
  gap: var(--space-10);
}

.dialog-action-button-container {
  display: flex;
  justify-content: space-between;
  padding: var(--space-2) var(--space-4);
  button {
    padding: var(--space-2) 0;
    width: 8rem;
  }
}

.hide-dialog {
  background-color: var(--error);
  &:hover {
    background-color: var(--error-dark);
  }
}

.save-exercise {
  background-color: var(--success);
  &:hover {
    background-color: var(--success-dark);
  }
}

.heading-buttons {
  display: flex;
  gap: var(--space-4);
  svg {
    width: var(--space-4);
  }
  button {
    font-size: var(--text-sm);
    padding: 0;
    background-color: var(--transparent-bg);
    &:hover {
      background-color: var(--transparent-bg);
    }
  }
}
.back-btn {
  color: var(--info);
  &:hover {
    color: var(--info-dark);
  }
}

.view-exercise-btn {
  color: var(--success);
}
