.custom-button {
  padding: var(--space-2);
  background-color: var(--primary);
  color: var(--text);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition-all-base);
  font-size: var(--text-base);
  padding: var(--space-3) var(--space-2);
  color: #fff;
  transition: var(--transition-base);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  &:focus {
    border: 2px solid var(--border-dark);
  }
  &:hover {
    transform: scale(0.985);
  }
}
.custom-button:hover {
  background-color: var(--primary-dark);
}

.secondary {
  background-color: var(--secondary);
  color: var(--text);
}
.secondary:hover {
  background-color: var(--secondary-dark);
}

.tertiary {
  background-color: transparent;
  color: var(--text);
  border: 2px solid var(--bg-input);
}
.tertiary:hover {
  background-color: var(--bg-input);
}
