.custom-button {
  padding: var(--space-2);
  background-color: var(--primary);
  color: var(--text);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition-all-base);
  font-size: var(--text-base);
  padding: var(--space-2) var(--space-3);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  &:focus {
    border: 2px solid var(--border-dark);
  }
  &:hover {
    transform: scale(0.985);
  }
}
.custom-button:hover {
  background-color: var(--primary-dark);
}

.secondary {
  background-color: var(--secondary);
  color: var(--text);
}
.secondary:hover {
  background-color: var(--secondary-dark);
}

.tertiary {
  background-color: transparent;
  color: var(--text);
  border: 2px solid var(--bg-input);
}
.tertiary:hover {
  background-color: var(--bg-input);
}

.add-button {
  position: fixed;
  bottom: var(--space-4);
  right: var(--space-4);
  z-index: 100;
  padding: var(--space-2) var(--space-4);
  background-color: var(--primary);
  transition: var(--transition-all-base);
  overflow: hidden;
  p {
    opacity: 0;
    width: 0;
    white-space: nowrap;
    transition: var(--transition-all-base);
    z-index: -1;
  }

  &:hover p {
    width: auto;
    opacity: 1;
  }
}
