header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-3) var(--space-4);
  background-color: var(--bg-surface);
  box-shadow: var(--shadow);
}

.header-container {
  display: flex;
  flex-direction: column;
  max-width: var(--content-max-width);
  margin: 0 auto;
  width: 100%;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon-container {
  display: flex;
  align-items: center;
  gap: var(--space-5);
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--bg-input);
  color: var(--text);
  cursor: pointer;
  position: relative;
  &:hover .user-dropdown {
    display: flex;
  }
}

.user-dropdown {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--bg-surface);
  padding: var(--space-2) var(--space-1);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  display: none;
  span {
    padding: var(--space-1) var(--space-2);
    cursor: pointer;
    &:hover {
      background-color: var(--bg-input);
      border-radius: var(--radius-sm);
    }
  }
}

.theme-toggle {
  position: relative;
  &:hover .theme-select {
    display: flex;
  }
}

.theme-select {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  position: absolute;
  top: 100%;
  right: -0.5rem;
  display: none;
  background-color: var(--bg-surface);
  padding: var(--space-2) var(--space-1);
  width: 5rem;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  span {
    padding: var(--space-1) var(--space-2);
    display: flex;
    align-items: center;
    gap: var(--space-2);
    justify-content: space-evenly;
    cursor: pointer;
    svg {
      width: var(--text-lg);
    }
    p {
      font-size: var(--text-sm);
    }
    &:hover {
      border: 1px solid var(--secondary-dark);
      border-radius: var(--radius-sm);
    }
  }
}

.active-theme {
  border: 1px solid var(--secondary);
  border-radius: var(--radius-sm);
}

.current-theme-contaier {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  cursor: pointer;
  .current-theme {
    display: flex !important;
  }
  .light,
  .dark,
  .auto {
    display: none;
  }
}
svg {
  width: var(--text-2xl);
}

.logo {
  color: var(--text);
}

.nav-container {
  justify-content: center;
}
.nav {
  align-self: center;
}
.nav ul {
  display: flex;
  background-color: var(--secondary-dark);
  list-style: none;
  justify-self: center;
  padding: calc(var(--space-1));
  border-radius: var(--space-2);
}
.nav-link {
  padding: var(--space-1) 0;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  color: #ffffff;
}
.active-nav-link {
  background-color: var(--secondary);
}
.nav a {
  text-decoration: none;
  color: var(--white);
}
